.links {
  display: flex;
  gap: 1.6rem;
  padding-top: 10px;

  a {
    position: relative;
    z-index: 20;
    transition: 0.3s ease-in-out;
  }

  a:hover {
    color: var(--brand);
    opacity: 1;
  }
}
